{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "decoratorVersion": "2022-03"
    },
    "target": "esnext"
  },
  "module": {
    "type": "commonjs"
  },
  "exclude": ["__tests__"]
}
